@import "../_styles/variables.scss";

.portfolio_page--container {
  display: grid;
  grid-template-columns: 1fr;
}
.portfolio_page--container:has(.menu_toggle[open]) > .portfolio_header--side{
  margin-left: 0%;
}
.portfolio_header--side:has(.router_link:active){
  margin-left: -100%;
}

.portfolio_header--side {
  transition: all 0.5s ease-in-out;
  height: calc(100vh - $header_height);
  margin-top: $header_height;
  margin-left: -100%;
  z-index: 1000;
  position: fixed;
  width: min(100%, 320px);
  background-color: #ffffff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.header_avatar {
  margin: 30px auto 20px;
  max-width: 110px;
  border-radius: 50%;
  background-color: rgb(154, 217, 228);
  border: 2px solid #e5e5e5;
  overflow: hidden;
}
.header_side-menu li:first-child a {
  border-top: 1px solid #f5f5f5;
}
.header_side-menu li a, .header_side-menu li a:hover {
  display: block;
  position: relative;
  padding: 10px 20px;
  text-align: center;
  color: #222;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid #f5f5f5;
  outline: none;
}
.header_side-menu li a:hover:after, .header_side-menu li.active a:after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  width: 3px;
  height: 100%;
  margin: 0 auto;
  background-color: #eee;
}
.header_side-menu li.active a:after {
  background-color: $primary;
}

.header_side-social {
  text-align: center;
  li {
    display: inline-block;
  }
}

.social_link {
  margin: 0 4px;
  width: 32px;
  height: 32px;
  color: #888;
  border-radius: 4px;
  background-color: #eee;
  text-align: center;
  display: block;
  i.fa-brands {
    line-height: 32px;
  }
  &:hover {
    color: var(--clr);
  }
}

// Main
.portfolio_main--content {
  height: calc(100vh - $header_height);
  overflow-y: auto;
}
.page_home {
  background: url(https://lmpixels.com/demo/sunshine-demo/sunshine-version-2/sunshine-html-template-red/images/home_page_bg_2.jpg) no-repeat center center;
  min-height: 100%;
}


// Mobile devices
.portfolio_header--mobile {
  width: 100%;
  height: $header_height;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.menu_toggle {
  color: #000000;
}

details.menu_toggle {
  & > summary {
    list-style: none;
    &::-webkit-details-marker {
      display:none;
    }
  }
}
// Desktop browsers
@media screen and (min-width: 1024px) {

}
