<div class="portfolio_page--container">
  <div class="portfolio_header--mobile">
    <h5 class="mb-0 text-secondary ms-4">#Ka</h5>
    <details class="menu_toggle">
      <summary class="icon_hamburger">
        <div></div>
        <div></div>
        <div></div>
      </summary>
    </details>
  </div>
  <header class="portfolio_header--side text-center">
    <div class="header_avatar">
      <img src="https://dg86kmop4ajn0.cloudfront.net/assets/2023/01/03/A27357_5Zwma7qJRBLMQRsD58IgNgL2K_1672715008020.png" alt="avatar" class="mw-100">
    </div>
    <div class="header_details">
      <h1 class="header_details--name">{{ portfolio.name }}</h1>
      <p class="header_details--desc text-secondary">{{ portfolio.desc }}</p>
    </div>
    <ul class="list-unstyled header_side-menu mb-5">
      <ng-container *ngFor="let page of listPage">
        <li [ngClass]="{'active': currentPage === page.id}">
          <a class="text-decoration-none router_link" [href]="page.route" (click)="changePage(page.id)">{{page.name}}</a>
        </li>
      </ng-container>
    </ul>
    <ul class="list-unstyled header_side-social">
      <li *ngFor="let item of socials">
        <a class="text-decoration-none social_link" style="--clr: {{item.bg}}" [href]="item.link" target="_blank">
          <i class="fa-brands fs-4 {{item.fa}}"></i>
        </a>
      </li>
    </ul>
  </header>
  <main class="portfolio_main--content">
    <section id="home" class="page_home">
      <home></home>
    </section>
    <section id="about-me" class="page">
      <about-me></about-me>
    </section>
  </main>
</div>
