<div class="home_container">
  <div class="wrap">
    <div class="short_details--top">
      <h1>{{infomation.name}}</h1>
      <div class="detail_job--animation">{{myJob}}</div>
    </div>
    <table class="table table-borderless full_details--bottom">
      <tbody>
        <tr>
          <td><span class="title">Age</span></td>
          <td class="value">{{ infomation.age }}</td>
        </tr>
        <tr>
          <td><span class="title">Address</span></td>
          <td class="value">{{ infomation.address }}</td>
        </tr>
        <tr>
          <td><span class="title">Contact</span></td>
          <td class="value">{{ infomation.email }}</td>
        </tr>
        <tr>
          <td><span class="title">Phone</span></td>
          <td class="value">{{ infomation.phone }}</td>
        </tr>
        <tr>
          <td><span class="title">Freelance</span></td>
          <td class="value">{{ infomation.onWork ? 'Unavailable' : 'Available' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
