@import "../../../_styles/variables.scss";
.home_container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.short_details--top {
  text-align: center;
  margin: 0 auto 2rem;
}
.detail_job--animation {
  color: #eeeeee;
  font-size: 1rem;
  min-height: 24px;
  text-shadow: 1px 1px #111;
  font-weight: 700;
}
.full_details--bottom {
  color: #eee;
  tr {
    margin-bottom: 0.5rem;
    .title {
      position: relative;
      padding-bottom: 2px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border: 1px solid $primary;
      }
    }
  }
}
